@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 flex items-center justify-center min-w-80 w-full min-h-screen font-sans font-normal leading-relaxed text-slate-800  bg-[#fff] dark:text-white/85 dark:bg-[#242424] antialiased;
  }
  a {
    @apply font-medium text-[#646cff] no-underline;
  }
  a:hover {
    @apply text-[#535bf2];
  }
  h1 {
    @apply text-6xl leading-tight;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  button {
    background-color: #f9f9f9;
  }
}
